In [7]:
from python_package.data_processing import GenData

In [8]:
# Define your database URL
DATABASE_URL = "postgresql://my_user:my_password@localhost/my_database"

In [9]:
# Create an instance of GenData
gen_data_instance = GenData(grid_size=2, num_puzzles=100, db_url=DATABASE_URL)

In [10]:

# Generate data with a specified number of empty cells
gen_data_instance.generate_data(num_cells_range=(1,16+1))

,missing_cells,num_qubits_sim,total_gates_simple_encoding,mcx_gates_simple_encoding,num_qubits_pat,total_gates_pattern_encoding,mcx_gates_pattern_encoding
0,1,2,9,1,2,9,1
1,1,2,9,1,2,9,1
2,1,2,9,1,2,9,1
3,1,2,9,1,2,9,1
4,1,2,9,1,2,9,1
...,...,...,...,...,...,...,...
1695,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
1696,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
1697,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
1698,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
1699,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656

In [11]:
# Insert the generated data into the SQL database
gen_data_instance.insert_into_sql()

In [12]:
# Load data from the database into a DataFrame
#df = gen_data_instance.load_db_table_to_df('quantum_resources')