In [1]:
from python_package.data_processing import GenData

In [10]:
# Define your database URL
DATABASE_URL = "postgresql://my_user:my_password@localhost/my_database"

In [3]:
# Create an instance of GenData
gen_data_instance = GenData(grid_size=2, num_puzzles=10000, db_url=DATABASE_URL)

In [4]:

# Generate data with a specified number of empty cells
gen_data_instance.generate_data(num_cells_range=(1,16+1))

,missing_cells,num_qubits_sim,total_gates_simple_encoding,MCX_gates_simple_encoding,num_qubits_pat,total_gates_pattern_encoding,MCX_gates_pattern_encoding
0,1,2,9,1,2,9,1
1,1,2,9,1,2,9,1
2,1,2,9,1,2,9,1
3,1,2,9,1,2,9,1
4,1,2,9,1,2,9,1
...,...,...,...,...,...,...,...
169995,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
169996,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
169997,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
169998,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656
169999,17,449,13783138014702,12916210342154,545,5034204440287221634,4949092517333129656

In [12]:
gen_data_instance.db_url

'postgresql://my_user:my_password@localhost/my_database'

In [13]:
# Insert the generated data into the SQL database
gen_data_instance.insert_into_sql()

Error: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "my_username"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "my_username"

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [6]:
# Load data from the database into a DataFrame
#df = gen_data_instance.load_db_table_to_df('quantum_resources')